apiVersion: v1
kind: Pod
metadata:
  name: {{POD_NAME}}
spec:
  volumes:
    - name: home-vol
      persistentVolumeClaim:
        claimName: {{PVC_CLAIM_NAME}}
    - name: home-local-vol
      emptyDir: {}
    # Note: these are persistent and need to be created before first run with
    # a command like:
    # kubectl -n iree-dev create secret generic gpg-key-kdrewnia --from-file=kdrewnia-amd-secret.asc=kdrewnia-amd-secret.asc --from-file=kdrewnia-amd-public.asc=kdrewnia-amd-public.asc
    - name: gpg-key
      secret:
        secretName: gpg-key-kdrewnia
    # Also must be created before first run
    - name: amd-llm-api-token
      secret:
        secretName: amd-llm-api-token-kdrewnia
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
  containers:
    - name: vscode-web
      image: ghcr.io/krzysz00/kd-iree-dev:latest@sha256:3f7bf30dc86ab9269e1212225d198ff1efe7cad52bafe9a3355cdbfc88156434
      command:
        - /bin/bash
        - -c
        - |
          set -eux
          sudo chown kdrewnia:kdrewnia /home/kdrewnia
          sudo chown kdrewnia:kdrewnia /home/kdrewnia/fast

          mkdir -p /home/kdrewnia/fast-persist
          # Copy fast data to local storage
          rsync -a --info=progress2 --human-readable /home/kdrewnia/fast-persist/ /home/kdrewnia/fast

          # Background copies of data from ~/fast to ~/fast-persist using inotify + rsync
          lsyncd -logfile /home/kdrewnia/lsyncd.log -pidfile /tmp/lsyncd.pid /etc/lsyncd.conf

          if [[ ! -f /home/kdrewnia/.amd-llm-api-token && -f /mnt/amd-llm-api-token/amd-llm-api-token ]]; then
            cp /mnt/amd-llm-api-token/amd-llm-api-token /home/kdrewnia/.amd-llm-api-token
            chmod 600 /home/kdrewnia/.amd-llm-api-token
          fi
          curl -fsSL https://code-server.dev/install.sh | sh
          code-server --auth none --port 9000
      tty: true
      stdin: true
      volumeMounts:
        - name: home-vol
          mountPath: /home/ossci
          readOnly: false
        - name: home-local-vol
          mountPath: /home/kdrewnia/fast
          readOnly: false
        - name: gpg-key
          mountPath: /mnt/gpgkey
          readOnly: true
        - name: amd-llm-api-token
          mountPath: /mnt/amd-llm-api-token
          readOnly: true
      resources:
        limits:
          amd.com/gpu: 1
