apiVersion: v1
kind: Pod
metadata:
  name: {{POD_NAME}}
spec:
  volumes:
    - name: home-vol
      persistentVolumeClaim:
        claimName: {{PVC_CLAIM_NAME}}
    # Note: these are persistent and need to be created before first run with
    # a command like:
    # kubectl -n iree-dev create secret generic gpg-key-kdrewnia --from-file=kdrewnia-amd-secret.asc=kdrewnia-amd-secret.asc --from-file=kdrewnia-amd-public.asc=kdrewnia-amd-public.asc
    - name: gpg-key
      secret:
        secrenName: gpg-key-kdrewnia
    # Also must be created before first run
    - name: amd-llm-api-token
      secret:
        secretNane: amd-llm-api-token-kdrewnia
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
  containers:
    - name: vscode-web
      image: ghcr.io/krzysz00/kd-iree-dev@sha256:ecbf488042cb4a9637710467450c4eca3f1db34bc79a1899b2d17f7270dfebac
      command:
        - /bin/bash
        - -c
        - |
          set -eux
          sudo chown kdrewnia:kdrewnia /home/kdrewnia
          curl -fsSL https://code-server.dev/install.sh | sh
          code-server --auth none --port 9000
      tty: true
      stdin: true
      volumeMounts:
        - name: home-vol
          mountPath: /home/ossci
          readOnly: false
        - name: gpg-key
          mountPath: /mnt/gpgkey
          readOnly: true
        - name: amd-llm-api-token
          mountPath: /mnt/amd-llm-api-token
          readOnly: true
      resources:
        limits:
          amd.com/gpu: 1
